# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/
build/
web-build/
.expo/
.turbo/

# Env
.env
.env.local
.env.*.local
!.env.example

# Supabase
supabase/.branches
supabase/.temp

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*

# Testing
coverage/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# TypeScript
*.tsbuildinfo

# Vercel
.vercel
